{% load staticfiles %} {% load static %} {% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="#3F51B5">
    <meta name="description" content="Hello, this is a portofolio website. Find out more about Fari Qodri Andana">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fari Qodri Andana</title>

    {% progressive_web_app_meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="preload" type="text/css" href="{% static 'css/home.css' %}" as="style" onload="this.rel='stylesheet'" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style"
        onload="this.rel='stylesheet'">
    <script src="{% static 'js/home.js' %}"></script>
</head>

<style>
    p {
        margin: 0;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 25%;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 30px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */

    .close {
        color: #aaaaaa;
        text-align: end;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #jsProgress {
        width: 100%;
        border-radius: 25px;
        background-color: lightgray;
    }

    #jsBar {
        width: 0%;
        border-radius: 25px;
        height: 30px;
        background-color: green;
    }

    #laravelProgress {
        width: 100%;
        border-radius: 25px;
        background-color: lightgray;
    }

    #laravelBar {
        width: 0%;
        border-radius: 25px;
        height: 30px;
        background-color: green;
    }
    .outdated {
        width:100%;
        background-color: red;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        height:50px;
        z-index: 1;
    }
</style>

<body>
    <!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'land:home' %}">Qortofolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#intro">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#form">Suggestion Box</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <div class="outdated">
        <div>This version is outdated. Please visit <a style="color: white; text-decoration: underline" href="https://fariqodri.com">fariqodri.com</a> for the latest version</div>
    </div>

    <section id="intro">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>{{ nama }}</h1>
                <h3 style="text-align: right">{{ story }}</h3>
                <hr/>
                <div class="sosmed">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a rel="noopener" target="_blank" href="https://www.facebook.com/fari.vanpersie.7" class="fa fa-facebook fa-lg"></a>
                        </li>
                        <li class="list-inline-item">
                            <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/fariqodri/" class="fa fa-linkedin fa-lg"></a>
                        </li>
                        <li class="list-inline-item">
                            <a rel="noopener" target="_blank" href="https://www.instagram.com/fariqodri" class="fa fa-instagram fa-lg"></a>
                        </li>
                        <li class="list-inline-item">
                            <a rel="noopener" target="_blank" href="https://twitter.com/fariqodri2" class="fa fa-twitter fa-lg"></a>
                        </li>
                        <li class="list-inline-item">
                            <a rel="noopener" target="_blank" href="https://gitlab.com/fariqodri" class="fa fa-gitlab fa-lg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 img">
                    <a target="_blank" href="{% static 'img/pic3.jpg' %}">
                        <img src="{% static 'img/pic3.jpg' %}" alt="Fari Qodri Andana">
                    </a>
                </div>
                <div class="col-sm-6 information">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">About me
                                <hr/>
                            </h4>
                            <p class="card-text"> {{ aboutme }}</p>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">Contact Details
                                <hr/>
                            </h4>
                            {% for data in contact %}
                            <p class="card-text"> {{ data }}</p>
                            <br/> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="resume">
        <div class="container">
            <div class="row education">
                <div class="col-sm-6">
                    <h3>EDUCATION</h3>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Universitas Indonesia
                                <hr/>
                            </h4>
                            <strong>Computer Science • July 2016 - August 2020</strong>
                            <br/>
                            <p>Courses taken:</p>
                            {% for data in courses %}
                            <p style="display:inline">{{ data }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row work">
                <div class="col-sm-6">
                    <h3>WORK</h3>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Warung Pintar
                                <hr/>
                            </h4>
                            <strong>Tech Intern • January 2018 - February 2018</strong>
                            <br/>
                            <p style="color: black">{{ descwarpin }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Presidential Staff Office of Republic of Indonesia
                                <hr/>
                            </h4>
                            <strong><a title="Internship Certificate" href="https://drive.google.com/open?id=1hOGDLYfAf2Bp7erLsoA_UPq1Ptp6hG2R" target="_blank">Backend Developer Intern at LAPOR!</a> • May 2018 - August 2018</strong>
                            <br/>
                            <p style="color: black">{{ descksp }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row organization">
                <div class="col-sm-6">
                    <h3>ORGANIZATION EXPERIENCE</h3>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">BEM Fasilkom UI
                                <hr/>
                            </h4>
                            <strong>Staff of Student Advocay • February 2017 - December 2017</strong>
                            <br/>
                            <p style="color: black">{{ descbem }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Ristek Fasilkom UI
                                <hr/>
                            </h4>
                            <strong>Member of Mobile Development Division • February 2018 - December 2018</strong>
                            <br/>
                            <p style="color: black">{{ descristek }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row skills">
                <div class="col-sm-6">
                    <h3>SKILLS</h3>
                </div>
                <div class="col-sm-6">
                    <h5>Django</h5>
                    <div class="well" id="djangoProgress">
                        <div id="djangoBar">
                            <h5 id="djangoText" style='text-align: center;padding-right: 5px;color: white;'></h5>
                        </div>
                    </div>
                    <br/>
                    <h5>Laravel</h5>
                    <div class="well" id="laravelProgress">
                        <div id="laravelBar">
                            <h5 id="laravelText" style='text-align: center;padding-right: 5px;color: white;'></h5>
                        </div>
                    </div>
                    <br/>
                    <h5>Java</h5>
                    <div class="well" id="javaProgress">
                        <div id="javaBar">
                            <h5 id="javaText" style='text-align: center;padding-right: 5px;color: white;'></h5>
                        </div>
                    </div>
                    <br/>
                    <h5>HTML & CSS</h5>
                    <div class="well" id="htmlProgress">
                        <div id="htmlBar">
                            <h5 id="htmlText" style='text-align: center;padding-right: 5px;color: white;'></h5>
                        </div>
                    </div>
                    <br/>
                    <h5>Node.js</h5>
                    <div class="well" id="jsProgress">
                        <div id="jsBar">
                            <h5 id="jsText" style='text-align: center;padding-right: 5px;color: white;'></h5>
                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-success" onclick="move()" title="Click to show my skills!">Show my skills
                    </button>
                </div>
            </div>
            <br/>
            <div style="text-align: center;font-size: 18px" class="alert alert-info" role="alert">
                Click this
                <a title="CV_Fari Qodri Andana" target="_blank" href="https://drive.google.com/open?id=1qNnFFXWxll3CNZRvaqhI-neB5I38mUwt"
                    class="alert-link">link</a>
                to open my CV.
            </div>

        </div>
    </section>

    <button class="btn btn-warning" onclick="topFunction()" id="myBtn" title="Go to top">
        <i style="font-size:24px" class="fa fa-arrow-up"></i>
    </button>

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="formdesc">
                        <h3>SUGGESTION BOX</h3>
                        <small>Please write any suggestions you have regarding this website or myself personally.</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Your suggestion has been submitted. Thank you!</p>
                        </div>

                    </div>
                    <form method="GET" action="{% url 'land:suggestion' %}">
                        {% csrf_token %} {% for field in suggestion_form %}
                        <div class="fieldwrapper">{{ field }}</div>
                        {% endfor %}
                        <small class="disclaimer"> Disclaimer: I am the only one who can read your suggestions, so you can write anything you want.
                        </small>
                        <br/>
                        <br/>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section id="footer" style="background: #343a40; padding-bottom: 32px; padding-top: 32px;">
        <div class="container">
            <h6 style="color: white; text-align: center;">This web is open source. You can access the source p through this
                <a target="_blank" href="https://gitlab.com/fariqodri/portofolio">link</a>
            </h6>
        </div>
    </section>
</body>

<script>
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span1> element that closes the modal
    var span1 = document.getElementsByClassName("close")[0];

    span1.onclick = function () {
        modal.style.display = "none";
        $("input").val("");
        $("textarea").val("");
    }


    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            $("input").val("");
            $("textarea").val("");
        }
    }

    $("form").on("submit", function (event) {
        event.preventDefault();
        modal.style.display = "block";
        console.log(event);
        var url = $(this).attr("action");
        var method = $(this).attr("method");
        var form_data = $(this).serialize();

        $.ajax({
            url: url,
            type: method,
            data: form_data,
        })
    });
</script>

</html>