#about {
    margin-top: 32px;
    margin-bottom: 32px;
}

.jumbotron {
    padding-top: 20.5%;
    padding-bottom: 20.5%;
    background-color: darkslategrey;
    margin-bottom: 0;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

section {
    overflow: hidden;
}

form small {
    font-size: 16px;
}

.formdesc small {
    font-size: 16px;
}

.fieldwrapper {
    margin-bottom: 16px;
}

#form {
    padding-top: 3px;
    margin-top: 32px;
    margin-bottom: 32px;
}

#resume {
    background: darkslategrey;
    padding-top: 32px;
    padding-bottom: 32px;
}

.fa {
    font-size: 30px;
}

.jumbotron .container h1 {
    font-size: 80px;
    color: white;
}

.jumbotron .container h3 {
    color: white;
}

img {
    margin-bottom: 10px;
    height: 200px;
    width: 199px;
    border-radius: 50%;
}

b {
    color: orangered;
    font-size: 13px;
}

.nav-item {
    border-radius: 25px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}

.nav-item:hover {
    background-color: #3F51B5;

}


code {
    color: black;
    font-size: 16px;
}

#resume .container h3 {
    color: khaki;
    border-bottom: 3px solid white;
}

.formdesc h3 {
    border-bottom: 3px solid black;
}

.container {
    text-align: left;
}

.container .sosmed {
    text-align: center;
}

hr {
    background-color: white;
}

.fa {
    color: white;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    transition: color .3s ease-in;
}



.formdesc {
    margin-bottom: 10px;
}


.sosmed .fa:hover {
    color: black;
    text-decoration: none;
}

.information {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

#resume .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#about .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 576px) {
    .img {
        display: flex;
        justify-content: center;
    }

    h3 {
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    #myBtn {
        bottom: 75px; /* Place the button at the bottom of the page */
        right: 20px; /* Place the button 30px from the right */
    }

    #intro .jumbotron .container h1 {
        font-size: 38px;
    }

    .sosmed .list-inline .list-inline-item .fa {
        font-size: 16px;
    }

    .navbar-toggle {
        /* (80px - button height 34px) / 2 = 23px */
        margin-top: 10px;
        padding: 9px 10px !important;
    }

    #intro .jumbotron .container h3 {
        font-size: 16px;
    }

    .img img {
        height: 160px;
        width: 159px;
    }

    .formdesc {
        text-align: center;
    }
}

@media only screen and (max-width: 180px) {
    .jumbotron .container h1 {
        font-size: 100%;
    }

    .jumbotron .container p {
        font-size: 75%;
    }
}

/*header color {*/
/*#003c8f*/
/*}*/
#djangoProgress, #javaProgress {
    width: 100%;
    border-radius: 25px;
    background-color: lightgray;
}

#djangoBar, #javaBar {
    width: 0%;
    border-radius: 25px;
    height: 30px;
    background-color: green;
}

#javaProgress {
    width: 100%;
    border-radius: 25px;
    background-color: lightgray;
}

#javaBar {
    width: 0%;
    border-radius: 25px;
    height: 30px;
    background-color: green;
}

#htmlProgress {
    width: 100%;
    border-radius: 25px;
    background-color: lightgray;
}

#htmlBar {
    width: 0%;
    border-radius: 25px;
    height: 30px;
    background-color: green;
}


.skills h5 {
    color: white;
}
